// Cores

$light01: #edece4;
$light02: #cdc6b9;
$light03: #988c77;

$dark01: #2a2426;
$success: #1ab912;

// fonts

$font1: "PT Mono", monospace;
$font2: "Aref Ruqaa", serif;

// border

$border: 2px solid $dark01;

@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + "em";
}

@mixin font-01($size) {
  font-family: $font1;

  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin font-02($size) {
  font-family: $font2;

  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}
